/*
{
    id: 'image-light',
    name: 'Image Light',
    description: 'Light image text effect',
    category: 'Effects',
    tags: ['bright'],
    bestFor: ['body', 'heading', 'display'],
    cssFile: 'image-light.css',
    previewText: 'Image',
    background: '#d6fad9'
},
*/

.text-image-light {
    --text-image: var(--image-color);
    --image-size: 100% auto;
    --light-color: hsla(10, 100%, 55%, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --stroke-width: 0.03em;
    --text-shadow: var(--shadow-simple);
    text-shadow: 0 0 0.1em var(--light-color);
    @apply filter-shadow;
    @apply text-image;
    @apply text-clip;
    @apply text-fill;
    @apply text-stroke;
}