/*
// Reference:  https://codepen.io/mireille1306/pen/BawdXzY
*/
.text-3D-sweet {
    display: inline-block;
    color: #fde9ff;
    font-weight: 900;
    line-height: 0.75em;
    text-shadow: var(--shadow-sweet-back);
    position: relative;

    &:before {
        content: attr(data-text);
        position: absolute;
        text-shadow: var(--shadow-sweet-front);
        z-index: 1;
    }
}