.text-distortion {
    position: relative;
    mix-blend-mode: difference;
    color: transparent;
    color: #DCAD05;

    &::after,
    &::before {
        color: #DCAD05;
        content: attr(data-text);
        position: absolute;
        left: 0;
        filter: blur(.025em);
        mix-blend-mode: difference;
    }

    &::before {
        left: -0.025em;
    }

    &::after {
        left: 0.025em;
    }
}