/*
// https://codepen.io/jackrugile/pen/krVZxw
*/
.text-glitch-giro {
    --shadow-color-1: hsla(0, 100%, 50%, .8);
    --shadow-color-2: hsla(180, 100%, 50%, .8);
    color: hsla(0, 0%, 0%, .9);
    animation: move linear 2000ms infinite;
}

@keyframes move {
    0% {
        text-shadow:
            0.04em -0.04em 0 var(--shadow-color-1),
            0.03em -0.03em 0 var(--shadow-color-1),
            0.02em -0.02em 0 var(--shadow-color-1),
            0.01em -0.01em 0 var(--shadow-color-1),
            -0.04em 0.04em 0 var(--shadow-color-2),
            -0.03em 0.03em 0 var(--shadow-color-2),
            -0.02em 0.02em 0 var(--shadow-color-2),
            -0.01em 0.01em 0 var(--shadow-color-2);
    }

    25% {
        text-shadow:
            -0.04em -0.04em 0 var(--shadow-color-2),
            -0.03em -0.03em 0 var(--shadow-color-2),
            -0.02em -0.02em 0 var(--shadow-color-2),
            -0.01em -0.01em 0 var(--shadow-color-2),
            0.04em 0.04em 0 var(--shadow-color-1),
            0.03em 0.03em 0 var(--shadow-color-1),
            0.02em 0.02em 0 var(--shadow-color-1),
            0.01em 0.01em 0 var(--shadow-color-1);
    }

    50% {
        text-shadow:
            -0.04em 0.04em 0 var(--shadow-color-1),
            -0.03em 0.03em 0 var(--shadow-color-1),
            -0.02em 0.02em 0 var(--shadow-color-1),
            -0.01em 0.01em 0 var(--shadow-color-1),
            0.04em -0.04em 0 var(--shadow-color-2),
            0.03em -0.03em 0 var(--shadow-color-2),
            0.02em -0.02em 0 var(--shadow-color-2),
            0.01em -0.01em 0 var(--shadow-color-2);
    }

    75% {
        text-shadow:
            0.04em 0.04em 0 var(--shadow-color-2),
            0.03em 0.03em 0 var(--shadow-color-2),
            0.02em 0.02em 0 var(--shadow-color-2),
            0.01em 0.01em 0 var(--shadow-color-2),
            -0.04em -0.04em 0 var(--shadow-color-1),
            -0.03em -0.03em 0 var(--shadow-color-1),
            -0.02em -0.02em 0 var(--shadow-color-1),
            -0.01em -0.01em 0 var(--shadow-color-1);
    }

    100% {
        text-shadow:
            0.04em -0.04em 0 var(--shadow-color-1),
            0.03em -0.03em 0 var(--shadow-color-1),
            0.02em -0.02em 0 var(--shadow-color-1),
            0.01em -0.01em 0 var(--shadow-color-1),
            -0.04em 0.04em 0 var(--shadow-color-2),
            -0.03em 0.03em 0 var(--shadow-color-2),
            -0.02em 0.02em 0 var(--shadow-color-2),
            -0.01em 0.01em 0 var(--shadow-color-2);
    }
}