/*
// Animated gradient fill
// https://webflow.com/made-in-webflow/website/animated-gradient-text
*/
.text-gradient-motion {
    --text-image: var(--gradient-animated);
    --image-size: 300%;
    @apply text-gradient;
    @apply text-clip;
    @apply text-fill;
    animation: gradient 5s ease infinite !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
