/*
// ref https://codepen.io/giannisKapa/pen/BaBJywb
// ref https://codepen.io/erinesullivan/pen/ZMreqJ
*/
.text-rgb-split {
    position: relative;
    display: inline-block;
    color: #00FF00;
    letter-spacing: 0.06em;
    cursor: pointer;
    z-index: 0;

    &::after,
    &::before {
        content: attr(data-text);
        position: absolute;
        color: transparent;
        top: 0px;
        left: 0px;
        transition: 1s;
        mix-blend-mode: plus-lighter;
        z-index: 1;
    }

    &:before {
        color: #0000FF;
        top: 0.03em;
        left: 0.03em;
    }

    &:after {
        color: #FF0000;
        top: -0.03em;
        left: -0.03em;
    }

    &.blured::after,
    &.blured::before {
        filter: contrast(2.7) blur(7px);
    }
}