/*
// Inside stroke and transparent fill
// Layers:     1
// Usage:      body, heading, display
// Properties: text-fill, text-stroke
// Tags:       simple, border
// Reference:  https://css-tricks.com/text-stroke-stuck-middle/
*/
.text-stroke-only {
    --text-color: transparent;
    --stroke-color: black;
    --stroke-width: .03em;
    @apply text-fill;
    @apply text-stroke;
}
