@import "stylewindcss";

@source "./**/*.{js,ts,jsx,tsx,mdx}";
@source "../components/**/*.{js,ts,jsx,tsx,mdx}";

:root {
  /* Contrast */
  --scheme: light dark;
  /* Baser colors */
  --background: var(--min-contrast); /* All variants */
  --surface: var(--background);/* All variants */
  --foreground: var(--tone-contrast-800); /* All variants */
  --decoration: var(--tint-foreground); /* All variants */
  --content: var(--tint-foreground); /* All variants */
  --controls: var(--tint-foreground); /* All variants */
  --ambient: var(--tint-foreground); /* All variants */
  --accent: var(--tint-ambient); /* All variants */
  --active: var(--bg-primary); /* All variants */
  /* Backgrounds */
  --bg-variant: --alpha(var(--ambient)/8%); /* .bg-variant */
  --bg-muted: --alpha(var(--ambient)/4%); /* .bg-muted */
  --bg-scrim: var(--ambient); /* .bg-scrim */
  --bg-scrim-soft: var(--ambient); /* .bg-scrim-soft */
  --bg-scrim-hard: var(--ambient); /* .bg-scrim-hard */
  --bg-backdrop: var(--ambient); /* .bg-backdrop */
  --bg-backdrop-soft: var(--ambient); /* .bg-backdrop-soft */
  --bg-backdrop-hard: var(--ambient); /* .bg-backdrop-hard */
  /* Primitives */
  --bg-card: var(--surface); /* .bg-card */
  --bg-popover: var(--surface); /* .bg-popover */
  --bg-modal: var(--surface); /* .bg-modal */
  --bg-input: --alpha(var(--controls)/5%); /* .bg-input */
  --bg-button: --alpha(var(--controls)/10%); /* .bg-button */
  --bg-tooltip: var(--controls); /* .bg-tooltip */
  /* Content */
  /* Text */
  --heading: var(--content); /* .color-heading */
  --text: --alpha(var(--content)/90%); /* .color-text */
  --text-muted: --alpha(var(--content)/70%); /* .color-text-muted */
  --text-subtle: --alpha(var(--content)/40%); /* .color-text-subtle */
  --text-disabled: --alpha(var(--content)/30%); /* .color-text-disabled */
  --text-hint: --alpha(var(--content)/30%); /* .color-text-hint */
  --text-silent: --alpha(var(--content)/10%); /* .color-text-silent */
  /* Icons */
  --icon: var(--emphasis-default); /* .color-icon */
  --icon-muted: var(--emphasis-muted); /* .color-icon-muted */
  --icon-subtle: var(--emphasis-subtle); /* .color-icon-subtle */
  --icon-disabled: var(--emphasis-disabled); /* .color-icon-disabled */
  --icon-hint: var(--emphasis-hint); /* .color-icon-hint */
  --icon-silent: var(--emphasis-silent); /* .color-icon-silent */
  /* Borders */
  --outline: --alpha(var(--controls)/10%); /* .outline .[type]-as-outline */
  --border: --alpha(var(--foreground)/10%); /*.border .[type]-as-border */
  --divider: var(--color-border); /* .divide .[type]-as-divider */
  --line: --alpha(var(--foreground)/5%); /* .line .[type]-as-line */
  /* Ambient */
  --shadow: --alpha(var(--ambient)/10%); /* --shadow-xs: 0 1px 2px 0 var(--shadow-soft); */
  --shadow-soft: --alpha(var(--ambient)/5%); /* --shadow-md: 0 4px 6px -1px var(--shadow), 0 2px 4px -2px var(--shadow); */
  --shadow-hard: --alpha(var(--ambient)/15%); /* --shadow-2xl: 0 25px 50px -12px var(--shadow-hard); */
  /* Interactivity */
  /* Elements */
  --ring: var(--active); /* .ring */
  --link: var(--active); /* .color-link */
  --visited: var(--active); /* .color-visited */
  --selection: var(--active); /* ::selection */
  --mark: var(--color-cautionary-500); /* .mark */
  --caret: var(--accent); /* caret-color: var(--caret) */

  /* Surfaces */
  --bg-highlighted: --alpha(var(--accent)/8%);
  --bg-accented: var(--accent);
  --bg-selected: --alpha(var(--accent)/10%);
  /* States */
  --state-hovered: --alpha(var(--ambient)/8%);
  --state-focused: --alpha(var(--ambient)/12%);
  --state-pressed: --alpha(var(--ambient)/16%);
  --state-dragging: --alpha(var(--ambient)/16%);

  /* Brand colors */
  --color-primary: var(--color-primary-500);
  --color-secondary: var(--color-secondary-500);
  --color-tertiary: var(--color-tertiary-500);
  /* Functional colors */
  --color-destructive: var(--color-destructive-500);
  --color-cautionary: var(--color-cautionary-500);
  --color-affirmative: var(--color-affirmative-500);
  --color-informative: var(--color-informative-500);

}

:root {
  --radius: 0.5rem;
}
