@import "stylewindcss";

/* Light mode */
:root {
  --radius: 0.5rem;
  /* Brand colors */
  --primary: var(--tone-primary-500);
  --secondary: var(--tone-secondary-800);
  --tertiary: var(--tone-tertiary-500);
  /* Functional colors */
  --destructive: var(--tone-destructive-500);
  --cautionary: var(--tone-cautionary-500);
  --affirmative: var(--tone-affirmative-500);
  --informative: var(--tone-informative-500);
  /* Base colors */
  --background: var(--min-contrast);
  --foreground: var(--tone-contrast-900);
  /* Base tints */
  --ambient: var(--tone-ambiental-800);
  --decoration: var(--foreground);
  --content: var(--foreground);
  --controls: var(--foreground);
  --accent: var(--ambient);
  --active: var(--primary);

  /* Surfaces */
  --surface: var(--background);
  --card: var(--surface);
  --popover: var(--surface);
  --modal: var(--surface);
  --tooltip: var(--foreground);
  --muted: --alpha(var(--ambient)/4%);
  --variant: --alpha(var(--ambient)/8%);
  --highlighted: --alpha(var(--accent)/8%);
  --selected: --alpha(var(--accent)/10%);

  /* Content */
    /* Heading */
    --heading: var(--content);
    /* Text */
    --text: --alpha(var(--content)/90%);
    --text-subtle: --alpha(var(--content)/70%);
    --text-disabled: --alpha(var(--content)/40%);
    --text-hint: --alpha(var(--content)/30%);
    /* Icons */
    --icon: var(--text);
    --icon-subtle: var(--text-subtle);
    --icon-disabled: var(--text-disabled);
    --icon-hint: var(--text-hint);
    /* Borders */
    --border: --alpha(var(--foreground)/10%); /* --alpha(var(--foreground)/10%) */
    --divider: var(--border);
    --line: --alpha(var(--foreground)/5%);

  /* Controls */
  --outline: --alpha(var(--controls)/10%);
  --input: --alpha(var(--controls)/5%);
  --button: --alpha(var(--controls)/10%);
  --hovered: --alpha(var(--ambient)/8%);
  --focused: --alpha(var(--ambient)/12%);
  --pressed: --alpha(var(--ambient)/16%);
  --dragging: --alpha(var(--ambient)/16%);
  /* Interactivity */
  --ring: var(--active);
  --link: var(--active);
  --visited: var(--active);
  --selection: var(--active);
  --mark: var(--tone-cautionary-500);
  --caret: var(--foreground);
  /* Ambient */
  --backdrop: var(--ambient);
  --shadow: var(--ambient);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Brand colors */
    --primary: var(--tone-primary-500);
    --secondary: var(--tone-secondary-500);
    --tertiary: var(--tone-tertiary-500);
    /* Functional colors */
    --destructive: var(--tone-destructive-500);
    --cautionary: var(--tone-cautionary-500);
    --affirmative: var(--tone-affirmative-500);
    --informative: var(--tone-informative-500);
    /* Base */
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --decoration: var(--foreground);
    --content: var(--foreground);
    --controls: var(--foreground);
    --ambient: var(--foreground);
    --accent: var(--active);
    --active: var(--primary);
    /* Surfaces */
    --surface: oklch(0.205 0 0);
    --card: var(--surface);
    --popover: oklch(0.269 0 0);
    --modal: var(--surface);
    --tooltip: var(--foreground);
    --muted: --alpha(var(--ambient)/4%);
    --variant: --alpha(var(--ambient)/8%);
    --highlighted: --alpha(var(--accent)/8%);
    --selected: --alpha(var(--accent)/10%);
    /* Content */
    --heading: var(--content);
    --text: var(--content);
    --text-subtle: --alpha(var(--content)/80%);
    --text-disabled: --alpha(var(--content)/40%);
    --text-hint: --alpha(var(--content)/30%);
    --icon: var(--text);
    --icon-subtle: var(--text-subtle);
    --icon-disabled: var(--text-disabled);
    --icon-hint: var(--text-hint);
    --border: --alpha(var(--foreground)/20%);
    /* --alpha(var(--foreground)/10%) */
    --divider: var(--border);
    --line: --alpha(var(--foreground)/8%);
    /* Controls */
    --outline: --alpha(var(--controls)/30%);
    --input: --alpha(var(--controls)/4%);
    --button: --alpha(var(--controls)/16%);
    --hovered: --alpha(var(--ambient)/8%);
    --focused: --alpha(var(--ambient)/12%);
    --pressed: --alpha(var(--ambient)/16%);
    --dragging: --alpha(var(--ambient)/16%);
    /* Interactivity */
    --ring: var(--active);
    --link: var(--active);
    --visited: var(--active);
    --selection: var(--active);
    --mark: var(--tone-cautionary-500);
    --caret: var(--foreground);
    /* Ambient */
    --backdrop: var(--ambient);
    --shadow: var(--min-contrast);
  }
}

/* Color scheme */
:root {
  --color-scheme: light dark;
  /* Fixed colors */
  --clear: transparent;
  --current: currentColor;
  --black: #000;
  --white: #fff;
  /* Contrast colors */
  --darkest: var(--black);
  --lightest: var(--white);
  --min-contrast: var(--lightest);
  --max-contrast: var(--darkest);
}
@media (prefers-color-scheme: dark) {
  :root {
    --min-contrast: var(--darkest);
    --max-contrast: var(--lightest);
  }
}

/* Color palette */
:root {
  --tone-primary-50:  #eff6ff;
  --tone-primary-100: #dbeafe;
  --tone-primary-200: #bfdbfe;
  --tone-primary-300: #93c5fd;
  --tone-primary-400: #60a5fa;
  --tone-primary-500: #3b82f6;
  --tone-primary-600: #2563eb;
  --tone-primary-700: #1d4ed8;
  --tone-primary-800: #1e40af;
  --tone-primary-900: #1e3a8a;
  --tone-primary-950: #172554;

  --tone-secondary-50:  #f8fafc;
  --tone-secondary-100: #f1f5f9;
  --tone-secondary-200: #e2e8f0;
  --tone-secondary-300: #cbd5e1;
  --tone-secondary-400: #94a3b8;
  --tone-secondary-500: #64748b;
  --tone-secondary-600: #475569;
  --tone-secondary-700: #334155;
  --tone-secondary-800: #1e293b;
  --tone-secondary-900: #0f172a;
  --tone-secondary-950: #020617;

  --tone-tertiary-50:  var(--tone-ambient-50);
  --tone-tertiary-100: var(--tone-ambient-100);
  --tone-tertiary-200: var(--tone-ambient-200);
  --tone-tertiary-300: var(--tone-ambient-300);
  --tone-tertiary-400: var(--tone-ambient-400);
  --tone-tertiary-500: var(--tone-ambient-500);
  --tone-tertiary-600: var(--tone-ambient-600);
  --tone-tertiary-700: var(--tone-ambient-700);
  --tone-tertiary-800: var(--tone-ambient-800);
  --tone-tertiary-900: var(--tone-ambient-900);
  --tone-tertiary-950: var(--tone-ambient-950);

  --tone-contrast-50:  var(--tone-secondary-50);
  --tone-contrast-100: var(--tone-secondary-100);
  --tone-contrast-200: var(--tone-secondary-200);
  --tone-contrast-300: var(--tone-secondary-300);
  --tone-contrast-400: var(--tone-secondary-400);
  --tone-contrast-500: var(--tone-secondary-500);
  --tone-contrast-600: var(--tone-secondary-600);
  --tone-contrast-700: var(--tone-secondary-700);
  --tone-contrast-800: var(--tone-secondary-800);
  --tone-contrast-900: var(--tone-secondary-900);
  --tone-contrast-950: var(--tone-secondary-950);

  --tone-ambiental-50:  var(--tone-primary-50);
  --tone-ambiental-100: var(--tone-primary-100);
  --tone-ambiental-200: var(--tone-primary-200);
  --tone-ambiental-300: var(--tone-primary-300);
  --tone-ambiental-400: var(--tone-primary-400);
  --tone-ambiental-500: var(--tone-primary-500);
  --tone-ambiental-600: var(--tone-primary-600);
  --tone-ambiental-700: var(--tone-primary-700);
  --tone-ambiental-800: var(--tone-primary-800);
  --tone-ambiental-900: var(--tone-primary-900);
  --tone-ambiental-950: var(--tone-primary-950);

  --tone-destructive-50:  #fff1f2;
  --tone-destructive-100: #ffe4e6;
  --tone-destructive-200: #fecdd3;
  --tone-destructive-300: #fda4af;
  --tone-destructive-400: #fb7185;
  --tone-destructive-500: #f43f5e;
  --tone-destructive-600: #e11d48;
  --tone-destructive-700: #be123c;
  --tone-destructive-800: #9f1239;
  --tone-destructive-900: #881337;
  --tone-destructive-950: #4c0519;

  --tone-cautionary-50:  #fffbeb;
  --tone-cautionary-100: #fef3c7;
  --tone-cautionary-200: #fde68a;
  --tone-cautionary-300: #fcd34d;
  --tone-cautionary-400: #fbbf24;
  --tone-cautionary-500: #f59e0b;
  --tone-cautionary-600: #d97706;
  --tone-cautionary-700: #b45309;
  --tone-cautionary-800: #92400e;
  --tone-cautionary-900: #78350f;
  --tone-cautionary-950: #451a03;

  --tone-affirmative-50:  #ecfdf5;
  --tone-affirmative-100: #d1fae5;
  --tone-affirmative-200: #a7f3d0;
  --tone-affirmative-300: #6ee7b7;
  --tone-affirmative-400: #34d399;
  --tone-affirmative-500: #10b981;
  --tone-affirmative-600: #059669;
  --tone-affirmative-700: #047857;
  --tone-affirmative-800: #065f46;
  --tone-affirmative-900: #064e3b;
  --tone-affirmative-950: #022c22;

  --tone-informative-50:  var(--tone-ambient-50);
  --tone-informative-100: var(--tone-ambient-100);
  --tone-informative-200: var(--tone-ambient-200);
  --tone-informative-300: var(--tone-ambient-300);
  --tone-informative-400: var(--tone-ambient-400);
  --tone-informative-500: var(--tone-ambient-500);
  --tone-informative-600: var(--tone-ambient-600);
  --tone-informative-700: var(--tone-ambient-700);
  --tone-informative-800: var(--tone-ambient-800);
  --tone-informative-900: var(--tone-ambient-900);
  --tone-informative-950: var(--tone-ambient-950);
}