@theme default {
    --default-font-family: var(--font-content);
    --default-mono-font-family: var(--font-code);
    --default-border-width: var(--border-width);
    --default-transition-duration: var(--transition-duration);
    --default-transition-timing-function: var(--transition-timing);

    --default-color-scheme: var(--color-scheme);
    --default-color-background: var(--color-background);
    --default-color-heading: var(--color-text-heading);
    --default-color-text: var(--color-text-default);
    --default-color-highlight: var(--color-highlight);
    --default-color-selection: var(--color-selection);
    --default-color-accent: var(--color-accent);
    --default-color-caret: var(--color-caret);
    --default-color-border: var(--color-border);
    --default-color-divide: var(--color-divider);

    --tw-shadow-color: var(--color-shadow);
}