@theme {
    /* Base colors */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    /* Tint colors */
    --color-decoration: var(--decoration);
    --color-content: var(--content);
    --color-controls: var(--controls);
    --color-ambient: var(--ambient);
    --color-accent: var(--accent);
    --color-active: var(--active);
    /* Surfaces */
    --color-surface: var(--surface);
    --color-card: var(--card);
    --color-popover: var(--popover);
    --color-modal: var(--modal);
    --color-tooltip: var(--tooltip);
    --color-muted: var(--muted);
    --color-variant: var(--variant);
    --color-highlighted: var(--highlighted);
    --color-selected: var(--selected);

    /* Content
    --heading
    --text
    --text-subtle
    --text-disabled
    --text-hint
    --icon
    --icon-subtle
    --icon-disabled
    --icon-hint
    --color-border: var(--border);
    --color-divider: var(--divider);
    --color-line: var(--line);
    */
    /* Controls
    --color-outline: var(--outline);
    --color-input: var(--input);
    --color-button: var(--button);
    */
    /* States
    --color-hovered: var(--hovered);
    --color-focused: var(--focused);
    --color-pressed: var(--pressed);
    --color-dragging: var(--dragging);
    */
    /* Interactivity
    --color-ring: var(--ring);
    --color-link: var(--link);
    --color-visited: var(--visited);
    --color-selection: var(--selection);
    --color-mark: var(--mark);
    --color-caret: var(--caret);*/

    /* Ambient */
    --color-backdrop: var(--backdrop);
    --color-shadow: var(--shadow);
    /* Brand colors */
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);
    /* Functional colors */
    --color-destructive: var(--destructive);
    --color-cautionary: var(--cautionary);
    --color-affirmative: var(--affirmative);
    --color-informative: var(--informative);
    /* Contrast colors */
    --color-min-contrast: var(--min-contrast);
    --color-max-contrast: var(--max-contrast);
    /* Fixed colors */
    --color-lightest: var(--lightest);
    --color-darkest: var(--darkest);
    --color-clear: var(--clear);
    --color-current: var(--current);
}