@theme default {

    --font-brand:            var(--font-family-sans);
    --font-content:          var(--font-family-sans);
    --font-decoration:       var(--font-family-sans);

    --font-code:             var(--font-family-mono);
    --font-math:             var(--font-family-serif);
    --font-digits:           var(--font-family-mono);

    --font-display:          var(--font-brand);
    --font-heading:          var(--font-brand);
    --font-body:             var(--font-content);
    --font-caption:          var(--font-body);
    --font-label:            var(--font-body);
    --font-input:            var(--font-label);
    --font-button:           var(--font-brand);

    --font-size:             16px; /* Font size base */
    --font-scale:            var(--scale-major-second); /* Scale ratio */

}