@theme {

    /* Spacing */
    --spacing:                  0.25rem;
    --margin:                   --spacing(4);
    --gutter:                   --spacing(2);

    --gap-off:                  0;
    --gap-tight:                --spacing(1);
    --gap-spaced:               --spacing(2);
    --gap-loose:                --spacing(3);

    /* Container */
    /*
    --container-margin: auto;
    --container-padding: var(--margin);
    */
    --container-3xs:    16rem;
    --container-2xs:    18rem;
    --container-xs:     20rem;
    --container-sm:     24rem;
    --container-md:     28rem;
    --container-lg:     32rem;
    --container-xl:     36rem;
    --container-2xl:    42rem;
    --container-3xl:    48rem;
    --container-4xl:    56rem;
    --container-5xl:    64rem;
    --container-6xl:    72rem;
    --container-7xl:    80rem;

    /*
    --spacing-off:                  0;
    --spacing-tight:                --spacing(1);
    --spacing-spaced:               --spacing(2);
    --spacing-loose:                --spacing(3);
    --spacing-extra:                --spacing(4);
    --spacing-huge:                 --spacing(5);
    --spacing-massive:              --spacing(6);

    --spacing-layout-expanded
    --spacing-layout-medium
    --spacing-layout-compact


    media
    --spacing-component-expanded
    --spacing-component-medium
    --spacing-component-compact

    media
    --spacing-object-expanded
    --spacing-object-medium
    --spacing-object-compact

    forms
    --spacing-control-expanded
    --spacing-control-medium
    --spacing-control-compact

    tags,
    --spacing-element-expanded
    --spacing-element-medium

    */

}