@import "stylewindcss";

:root {

  /* Contrast */
  --scheme: light dark;
  --background: var(--min-contrast);
  --foreground: var(--tone-contrast-800);
  --decoration: var(--tint-foreground);
  --content: var(--tint-foreground);
  --controls: var(--tint-foreground);
  --ambient: var(--tint-foreground);
  --accent: var(--tint-ambient);
  --active: var(--bg-primary);

  /* Backgrounds */
  --bg-canvas:var(--min-contrast);
  --bg-surface: var(--background);
  --bg-muted: --alpha(var(--ambient)/4%);
  --bg-variant: --alpha(var(--ambient)/8%);
  --bg-scrim: var(--ambient);
  --bg-backdrop: var(--ambient);

  /* Primitives */
  --bg-card: var(--surface);
  --bg-popover: var(--surface);
  --bg-modal: var(--surface);
  --bg-input: --alpha(var(--controls)/5%);
  --bg-button: --alpha(var(--controls)/10%);
  --bg-tooltip: var(--controls);

  /* Content */
  --text-heading: var(--content);
  --text-default: --alpha(var(--content)/90%);
  --text-subtle: --alpha(var(--content)/70%);
  --text-disabled: --alpha(var(--content)/40%);
  --text-hint: --alpha(var(--content)/30%);
  --icon-heading: var(--text-heading);
  --icon-default: var(--text);
  --icon-subtle: var(--text-subtle);
  --icon-disabled: var(--text-disabled);
  --icon-hint: var(--text-hint);

  --color-outline: --alpha(var(--controls)/10%);
  --color-border: --alpha(var(--foreground)/10%); /* --alpha(var(--foreground)/10%) */
  --color-divider: var(--color-border);
  --color-line: --alpha(var(--foreground)/5%);
  --color-shadow: var(--ambient);

  /* Interactivity */
  --color-active: var(--active);
  --color-ring: var(--active);
  --color-link: var(--active);
  --color-visited: var(--active);

  --color-selection: var(--active);
  --color-mark: var(--color-cautionary-500);
  --color-caret: var(--accent);

  --color-accent: var(--accent);
  --color-highlighted: --alpha(var(--accent)/8%);
  --color-selected: --alpha(var(--accent)/10%);

  --state-hovered: --alpha(var(--ambient)/8%);
  --state-focused: --alpha(var(--ambient)/12%);
  --state-pressed: --alpha(var(--ambient)/16%);
  --state-dragging: --alpha(var(--ambient)/16%);

  /* Brand colors */
  --color-primary: var(--color-primary-500);
  --color-secondary: var(--color-secondary-500);
  --color-tertiary: var(--color-tertiary-500);

  /* Functional colors */
  --color-destructive: var(--color-destructive-500);
  --color-cautionary: var(--color-cautionary-500);
  --color-affirmative: var(--color-affirmative-500);
  --color-informative: var(--color-informative-500);

  --min-contrast: var(--lightest);
  --max-contrast: var(--darkest);

}

:root {
  --radius: 0.5rem;
}

/* Color palette */
:root {
  /* Sisttem */
  --lightest: #fff;
  --darkest: #000;
  --clear: transparent;
  --current: currentColor;

  /* Tones */
  --tone-primary-50:  #eff6ff;
  --tone-primary-100: #dbeafe;
  --tone-primary-200: #bfdbfe;
  --tone-primary-300: #93c5fd;
  --tone-primary-400: #60a5fa;
  --tone-primary-500: #3b82f6;
  --tone-primary-600: #2563eb;
  --tone-primary-700: #1d4ed8;
  --tone-primary-800: #1e40af;
  --tone-primary-900: #1e3a8a;
  --tone-primary-950: #172554;

  --tone-secondary-50:  #f8fafc;
  --tone-secondary-100: #f1f5f9;
  --tone-secondary-200: #e2e8f0;
  --tone-secondary-300: #cbd5e1;
  --tone-secondary-400: #94a3b8;
  --tone-secondary-500: #64748b;
  --tone-secondary-600: #475569;
  --tone-secondary-700: #334155;
  --tone-secondary-800: #1e293b;
  --tone-secondary-900: #0f172a;
  --tone-secondary-950: #020617;

  --tone-tertiary-50:  var(--tone-ambient-50);
  --tone-tertiary-100: var(--tone-ambient-100);
  --tone-tertiary-200: var(--tone-ambient-200);
  --tone-tertiary-300: var(--tone-ambient-300);
  --tone-tertiary-400: var(--tone-ambient-400);
  --tone-tertiary-500: var(--tone-ambient-500);
  --tone-tertiary-600: var(--tone-ambient-600);
  --tone-tertiary-700: var(--tone-ambient-700);
  --tone-tertiary-800: var(--tone-ambient-800);
  --tone-tertiary-900: var(--tone-ambient-900);
  --tone-tertiary-950: var(--tone-ambient-950);

  --tone-contrast-50:  var(--tone-secondary-50);
  --tone-contrast-100: var(--tone-secondary-100);
  --tone-contrast-200: var(--tone-secondary-200);
  --tone-contrast-300: var(--tone-secondary-300);
  --tone-contrast-400: var(--tone-secondary-400);
  --tone-contrast-500: var(--tone-secondary-500);
  --tone-contrast-600: var(--tone-secondary-600);
  --tone-contrast-700: var(--tone-secondary-700);
  --tone-contrast-800: var(--tone-secondary-800);
  --tone-contrast-900: var(--tone-secondary-900);
  --tone-contrast-950: var(--tone-secondary-950);

  --tone-ambient-50:  var(--tone-primary-50);
  --tone-ambient-100: var(--tone-primary-100);
  --tone-ambient-200: var(--tone-primary-200);
  --tone-ambient-300: var(--tone-primary-300);
  --tone-ambient-400: var(--tone-primary-400);
  --tone-ambient-500: var(--tone-primary-500);
  --tone-ambient-600: var(--tone-primary-600);
  --tone-ambient-700: var(--tone-primary-700);
  --tone-ambient-800: var(--tone-primary-800);
  --tone-ambient-900: var(--tone-primary-900);
  --tone-ambient-950: var(--tone-primary-950);

  --tone-destructive-500: #ef4444;
  --tone-cautionary-500:  #f59e0b;
  --tone-affirmative-500: #10b981;
  --tone-informative-500: #3b82f6;
}
