@import "stylewindcss";

:root {
  --color-scheme: light dark;
  /* Contrast colors */
  --min-contrast: var(--lightest);
  --max-contrast: var(--darkest);
  /* Fixed colors */
  --lightest: #fff;
  --darkest: #000;
  --clear: transparent;
  --current: currentColor;
}
@media (prefers-color-scheme: dark) {
  :root {
      --min-contrast: var(--darkest);
      --max-contrast: var(--lightest);
  }
}

:root {
  --radius: 0.5rem;
  /* Base */
  --background: var(--min-contrast);
  --foreground: var(--color-contrast-800);
  --decoration: var(--foreground);
  --content: var(--foreground);
  --controls: var(--foreground);
  --ambient: var(--foreground);
  --accent: var(--ambient);
  --active: var(--primary);
  /* Surfaces */
  --surface: var(--background);
  --card: var(--surface);
  --popover: var(--surface);
  --modal: var(--surface);
  --tooltip: var(--foreground);
  --muted: --alpha(var(--ambient)/4%);
  --variant: --alpha(var(--ambient)/8%);
  --highlighted: --alpha(var(--accent)/8%);
  --selected: --alpha(var(--accent)/10%);
  /* Content */
  --heading: var(--content);
  --text: --alpha(var(--content)/90%);
  --text-subtle: --alpha(var(--content)/70%);
  --text-disabled: --alpha(var(--content)/40%);
  --text-hint: --alpha(var(--content)/30%);
  --icon: var(--text);
  --icon-subtle: var(--text-subtle);
  --icon-disabled: var(--text-disabled);
  --icon-hint: var(--text-hint);
  --border: --alpha(var(--foreground)/10%); /* --alpha(var(--foreground)/10%) */
  --divider: var(--border);
  --line: --alpha(var(--foreground)/5%);
  /* Controls */
  --outline: --alpha(var(--controls)/10%);
  --input: --alpha(var(--controls)/5%);
  --button: --alpha(var(--controls)/10%);
  --hovered: --alpha(var(--ambient)/8%);
  --focused: --alpha(var(--ambient)/12%);
  --pressed: --alpha(var(--ambient)/16%);
  --dragging: --alpha(var(--ambient)/16%);
  /* Interactivity */
  --ring: var(--active);
  --link: var(--active);
  --visited: var(--active);
  --selection: var(--active);
  --mark: var(--color-warning-500);
  --caret: var(--foreground);
  /* Ambient */
  --backdrop: var(--ambient);
  --shadow: var(--ambient);
  /* Brand colors */
  --primary: var(--color-primary-500);
  --secondary: var(--color-secondary-500);
  --tertiary: var(--color-tertiary-500);
  /* Functional colors */
  --destructive: var(--color-destructive-500);
  --cautionary: var(--color-cautionary-500);
  --affirmative: var(--color-affirmative-500);
  --informative: var(--color-informative-500);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Base */
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --decoration: var(--foreground);
    --content: var(--foreground);
    --controls: var(--foreground);
    --ambient: var(--foreground);
    --accent: var(--active);
    --active: var(--primary);
    /* Surfaces */
    --surface: oklch(0.205 0 0);
    --card: var(--surface);
    --popover: oklch(0.269 0 0);
    --modal: var(--surface);
    --tooltip: var(--foreground);
    --muted: --alpha(var(--ambient)/4%);
    --variant: --alpha(var(--ambient)/8%);
    --highlighted: --alpha(var(--accent)/8%);
    --selected: --alpha(var(--accent)/10%);
    /* Content */
    --heading: var(--content);
    --text: var(--content);
    --text-subtle: --alpha(var(--content)/80%);
    --text-disabled: --alpha(var(--content)/40%);
    --text-hint: --alpha(var(--content)/30%);
    --icon: var(--text);
    --icon-subtle: var(--text-subtle);
    --icon-disabled: var(--text-disabled);
    --icon-hint: var(--text-hint);
    --border: --alpha(var(--foreground)/20%);
    /* --alpha(var(--foreground)/10%) */
    --divider: var(--border);
    --line: --alpha(var(--foreground)/8%);
    /* Controls */
    --outline: --alpha(var(--controls)/30%);
    --input: --alpha(var(--controls)/4%);
    --button: --alpha(var(--controls)/16%);
    --hovered: --alpha(var(--ambient)/8%);
    --focused: --alpha(var(--ambient)/12%);
    --pressed: --alpha(var(--ambient)/16%);
    --dragging: --alpha(var(--ambient)/16%);
    /* Interactivity */
    --ring: var(--active);
    --link: var(--active);
    --visited: var(--active);
    --selection: var(--active);
    --mark: var(--color-warning-500);
    --caret: var(--foreground);
    /* Ambient */
    --backdrop: var(--ambient);
    --shadow: var(--min-contrast);
    /* Brand colors */
    --primary: var(--color-primary-500);
    --secondary: var(--color-secondary-500);
    --tertiary: var(--color-tertiary-500);
    /* Functional colors */
    --destructive: var(--color-destructive-500);
    --cautionary: var(--color-cautionary-500);
    --affirmative: var(--color-affirmative-500);
    --informative: var(--color-informative-500);
  }
}

:root {
  --shad-foreground: oklch(0.145 0 0);
  --card-foreground: var(--foreground);
  --popover-foreground: var(--foreground);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent-foreground: var(--primary);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent-foreground: var(--accent-foreground);
  --surface-foreground: var(--foreground);
  --code-foreground: var(--surface-foreground);
  --selection-foreground: oklch(1 0 0);
}