@import "stylewindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.root {
  color-scheme: lightn dark;
}

.dark {
  color-scheme: dark;
}

@utility bg-canvas {
  background-color: var(--canvas);
}
@utility text-color {
  color: var(--text);
}
@utility border-color {
  border-color: var(--border-color);
}
@utility outline-ring {
  outline-color: var(--ring);
}

@layer base {
  * {
    @apply border-color outline-ring;
  }
  body {
    @apply bg-canvas text-color;
  }
}
