@import "stylewindcss";

@source "./**/*.{js,ts,jsx,tsx,mdx}";
@source "../components/**/*.{js,ts,jsx,tsx,mdx}";

:root {
  /* Contrast */
  --scheme: light dark;

  /* Baser colors */
  --background: var(--min-contrast); /* All variants */
  --foreground: var(--max-contrast); /* All variants */
  --decoration: var(--foreground); /* All variants */
  --content: var(--foreground); /* All variants */
  --controls: var(--foreground); /* All variants */
  --accent: var(--ambient); /* All variants */
  --active: var(--principal); /* All variants */
  --ambient: var(--foreground); /* All variants */

  /* Surfaces */
  --surface: var(--background);/* All variants */
  --card: var(--surface); /* .bg-card */
  --popover: var(--surface); /* .bg-popover */
  --modal: var(--surface); /* .bg-modal */

    /* Backgrounds */
  --variant: --alpha(var(--ambient)/8%); /* .bg-variant */
  --muted: --alpha(var(--ambient)/4%); /* .bg-muted */
  --scrim-tint: var(--ambient); /* .bg-scrim */
  --scrim-soft: --alpha(var(--scrim-tint)/10%); /* .bg-scrim-soft */
  --scrim-medium: --alpha(var(--scrim-tint)/30%); /* .bg-scrim */
  --scrim-hard: --alpha(var(--scrim-tint)/50%); /* .bg-scrim-hard */
  --backdrop-tint: var(--ambient); /* .bg-backdrop */
  --backdrop-soft: --alpha(var(--backdrop-tint)/20%); /* .bg-backdrop-soft */
  --backdrop-medium: --alpha(var(--backdrop-tint)/40%); /* .bg-backdrop-soft */
  --backdrop-hard: --alpha(var(--backdrop-tint)/80%); /* .bg-backdrop-hard */

  /* Text */
  --heading: var(--content); /* .color-heading */
  --text: --alpha(var(--content)/90%); /* .color-text */
  --text-muted: --alpha(var(--content)/70%); /* .color-text-muted */
  --text-subtle: --alpha(var(--content)/40%); /* .color-text-subtle */
  --text-disabled: --alpha(var(--content)/30%); /* .color-text-disabled */
  --text-hint: --alpha(var(--content)/30%); /* .color-text-hint */
  --text-silent: --alpha(var(--content)/10%); /* .color-text-silent */

  /* Icons */
  --icon: var(--text); /* .color-icon */
  --icon-muted: var(--text-muted); /* .color-icon-muted */
  --icon-subtle: var(--text-subtle); /* .color-icon-subtle */
  --icon-disabled: var(--text-disabled); /* .color-icon-disabled */
  --icon-hint: var(--text-hint); /* .color-icon-hint */
  --icon-silent: var(--text-silent); /* .color-icon-silent */

  /* Borders */
  --border: --alpha(var(--foreground)/10%); /*.border .[type]-as-border */
  --divider: var(--border); /* .divide .[type]-as-divider */
  --line: --alpha(var(--foreground)/5%); /* .line .[type]-as-line */

  /* Controls */
  --tooltip: var(--controls); /* .bg-tooltip */
  --outline: --alpha(var(--controls)/10%); /* .outline .[type]-as-outline */
  --input: --alpha(var(--controls)/5%); /* .bg-input */
  --button: --alpha(var(--controls)/10%); /* .bg-button */
  --highlighted: --alpha(var(--accent)/8%);
  --accented: var(--accent);
  --selected: --alpha(var(--accent)/10%);

  /* Interactivity */
  --ring: var(--active); /* .ring */
  --link: var(--active); /* .color-link */
  --visited: var(--active); /* .color-visited */
  --selection: var(--active); /* ::selection */
  --mark: var(--cautionary); /* .mark */
  --caret: var(--accent); /* caret-color: var(--caret) */

  /* States */
  --state-tint: var(--ambient);
  --state-focused: --alpha(var(--state-tint)/12%);
  --state-pressed: --alpha(var(--state-tint)/16%);
  --state-dragging: --alpha(var(--state-tint)/16%);

  /* Shadows */
  --shadow-tint: var(--ambient); /* --shadow-xs: 0 1px 2px 0 var(--shadow-soft); */
  --shadow-soft: --alpha(var(--shadow-tint)/5%); /* --shadow-md: 0 4px 6px -1px var(--shadow), 0 2px 4px -2px var(--shadow); */
  --shadow-medium: --alpha(var(--shadow-tint)/10%); /* --shadow-xs: 0 1px 2px 0 var(--shadow-soft); */
  --shadow-hard: --alpha(var(--shadow-tint)/15%); /* --shadow-2xl: 0 25px 50px -12px var(--shadow-hard); */

  /* Functional colors */
  --principal: #3b82f6;
  --destructive: #ef4444;
  --cautionary: #f59e0b;
  --affirmative: #10b981;
  --informative: var(--principal);
}

:root {
    /* Chart */
  --chart-axis: var(--border); /* .axis .[type]-as-axis */
  --chart-grid: var(--line); /* .axis .[type]-as-axis */
}

/* Color scheme */
:root {
  --scheme: light dark;
  /* Fixed colors */
  --clear: transparent;
  --current: currentColor;
  --black: #000;
  --white: #fff;
  /* Contrast colors */
  --darkest: var(--black);
  --lightest: var(--white);
  --min-contrast: var(--lightest);
  --max-contrast: var(--darkest);
}

@media (prefers-color-scheme: dark) {
  :root {
    --min-contrast: var(--darkest);
    --max-contrast: var(--lightest);
  }
}

:root {
  --radius: 0.5rem;
}
