.prose {
    --prose-color:                      var(--color-gray-700);
    --prose-heading-color:              var(--color-gray-950);
    --prose-strong-color:               var(--color-gray-950);
    --prose-link-color:                 var(--color-gray-950);
    --prose-code-color:                 var(--color-gray-950);
    --prose-marker-color:               --alpha(var(--color-gray-700)/25%);
    --prose-link-underline-color:       var(--color-sky-400);
    --prose-th-borders:                 var(--color-gray-300);
    --prose-td-borders:                 var(--color-gray-200);
    --prose-hr-color:                   --alpha(var(--color-gray-950)/5%);
    --prose-blockquote-border-color:    var(--color-gray-300);

    color: var(--prose-color);
    font-size: var(--text-sm);
    line-height: 2;
}