@import "./presets.css";
@import "./utilities.css";
@import "./styles.css";

@layer components {
    .bloc {
        overflow: hidden;
        position: relative;
        background: var(--bloc-color);

        &:after {
            content: "";
            display: block;
            background: linear-gradient(90deg, transparent, var(--bloc-color));
            width: 80px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }

    .type-demo {
        /*font-size: 6rem;*/
        /*font-size: 2rem;*/
        font-size: calc(1em + 1vw);
        font-weight: 900;
        line-height: 1;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}