/*
// Layers:      1, 2, 3
// Category:    Text style, Decoration
// Decorations: Highlight, Underline
// Text styles: Stroke, Fill, Bevel and emboss, Styled, Decorative,
//              3D, Step shadow, Soft shadow, Long shadow, Hard shadow
//              Distortion
//
// Usage:       body, heading, display
// Properties:  color, text-fill, text-stroke, background, filter,
//              blend-mode, text-shadow, animation, mask, pseudo-elements
// Tags:        simple, solid, alpha, image, opacity, gradient, blur
*/

:root {
  --text-color: black;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --stroke-color: black;
  --stroke-width: .03em;
}

@import './text/fill-solid.css';
@import './text/fill-alpha.css';
@import './text/fill-blend.css';
@import './text/stroke-only.css';
@import './text/fill-stroke.css';
@import './text/fill-glass.css';
@import './text/solid-stroke.css';
@import './text/gradient-stroke.css';
@import './text/image.css';
@import './text/image-light.css';
@import './text/image-stroke.css';
@import './text/gradient.css';
@import './text/gradient-motion.css';
@import './text/stripes-colors.css';
@import './text/stripes-rainbow.css';
@import './text/shadow-rainbow.css';
@import './text/shadow-3d.css';
@import './text/3d.css';
@import './text/3d-light.css';
@import './text/3d-sugar.css';
@import './text/3d-glow.css';
@import './text/3d-sweet.css';
@import './text/3d-gold.css';
@import './text/glitch.css';
@import './text/glitch-giro.css';
@import './text/glitch-layers.css';
@import './text/inset.css';
@import './text/emboss.css';
@import './text/pop-art.css';
@import './text/rgb-split.css';
@import './text/shadow-animated.css';
@import './text/shadow-stripes.css';
@import './text/striped-layers.css';
@import './text/stripes.css';
@import './text/lighting.css';
@import './text/lighting-stroke.css';
@import './text/lighting-border.css';
@import './text/cut-bright.css';
@import './text/cut-dark.css';
@import './text/distortion.css';
@import './text/glass.css';
@import './text/glass-new.css';
@import './text/glass-reflex.css';

/*
// Shadow color strokes
.text-shadow-stroke {
  --text-color: white;
  --stroke-color: red;
  @apply text-stroke-shadow(6);
  @apply text-fill-shadow;
}
*/
