@import "tailwindcss/preflight";

body {
    color-scheme: var(--default-color-scheme);
    background: var(--default-color-background);
    color: var(--default-color-text);
    accent-color: var(--default-color-accent);
    caret-color: var(--default-color-caret);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::selection {
    background: var(--default-color-selection);
}

mark {
    background: var(--default-color-highlight);
}

hr {
    border-color: var(--default-color-divide);
}

/*
svg.icon {
    fill: var(--default-fill-icon, initial);
    stroke: var(--default-stroke-icon, initial);
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--default-color-heading);
}

* {
    border-color: var(--default-color-border, currentColor);
}

.divide-y, .divide-x {
    :where(.divide-y > :not(:last-child)) {
        border-color: var(--default-color-divide, currentColor);
    }
}
