@import "tailwindcss";

@source "../../apps/**/*.{ts,tsx}";
@source "../../components/**/*.{ts,tsx}";
@source "../../registry/**/*.{ts,tsx}";

body {
    content: "listo";
}

@theme {
    --breakpoint-3xl: 1600px;
    --breakpoint-4xl: 2000px;
}
